<%- include('header') %>
<!-- start: content -->

<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1">Üdv újra itt, <%= user.username %></h1>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <h1 class="">Tárgyaim</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Név</th>
                        <th class="text-center">Átlag</th>
                        <th class="text-center">Szerkesztés</th>
                        <th class="text-center">Törlés</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% courses.forEach(function(item){ %>
                    <tr>
                        <td>
                            <a href="/courses/<%= item.id %>/details"><%= item.name %></a>
                        </td>
                        <td class="text-center"><%= item.avg ? item.avg : '-' %></td>
                        <td class="text-center">
                            <a class="btn btn-primary" href="/courses/<%= item.id %>/edit">Szerkesztés</a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary" href="/courses/<%= item.id %>/delete">Törlés</a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="py-4">
    <div class="container">
        <h1 class="">Új tárgy felvétele</h1>
        <div class="row">

            <form class="form-inline" method="post" action="/courses">
                <div class="col-md-12">
                    <input type="text" name="name" required class="form-control p-2 m-2 w-25" placeholder="Név">
                    <input type="text" name="website" class="form-control p-2 m-2 w-25" placeholder="Tárgyhonlap http:// ..">
                    <input type="text" name="lecturer" class="form-control p-2 m-2 w-25" placeholder="Előadó">
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary p-2 m-2">Hozzáadás</button>
                </div>
            </form>

        </div>

    </div>
</div>


<!-- end: content -->
<%- include('footer') %>