<%- include('header') %>
<!-- start: content -->

<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1">Kurzus szerkesztése</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div class="card text-white p-5">
                    <div class="card-body">
                        <form method="post" action="/courses/<%= course.id %>/edit">
                            <div class="form-group">
                                <div class="form-group"> <label class="text-primary">Név</label>
                                    <input type="text" required name="name" class="form-control" placeholder="<%= course.name %>"> </div>
                                <div class="form-group"> <label class="text-primary">Tárgyhonlap</label>
                                    <input type="text" name="website" class="form-control" placeholder="<%= course.website %>"> </div>
                                <div class="form-group"> <label class="text-primary">Előadó</label>
                                    <input type="text" name="lecturer" class="form-control" placeholder="<%= course.lecturer %>"> </div>
                                <button type="submit" class="btn btn-secondary">Mentés</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end: content -->
<%- include('footer') %>